<p id="notice"><%= notice %></p>

<h2 class="text-center">Inscricões</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Curso</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricaos.each do |inscricao| %>
      <tr>
        <td><%= inscricao.nome %></td>
        <td><%= inscricao.matricula %></td>
        <td><%= inscricao.curso.nome %></td>
        <td><%= inscricao.status %></td>
        <td><%= link_to 'Show', inscricao, class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_inscricao_path(inscricao), class:'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', inscricao, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar', new_inscricao_path, class:'btn btn-primary' %>
