<ul class="container list-group">
  <li class="list-group-item"><strong>Nome:</strong> <%= @inscricao.nome %></li>
  <li class="list-group-item"><strong>Matricula:</strong> <%= @inscricao.matricula %></li>
  <li class="list-group-item"><strong>Curso:</strong> <%= @inscricao.curso.nome %></li>
  <li class="list-group-item"><strong>Status:</strong> <%= @inscricao.status %></li>
</ul>

<p id="notice"><%= notice %></p>

<div class="text-center">
<%= link_to 'Edit', edit_inscricao_path(@inscricao), class:'btn btn-success' %> 
<%= link_to 'Back', inscricaos_path, class:'btn btn-primary' %>
<div>