<p id="notice"><%= notice %></p>

<h2 class="text-center">Cursos</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Titulo</th>
      <th>Carga horaria</th>
      <th>Vagas</th>
      <th>Pre requisitos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td><%= curso.email %></td>
        <td><%= curso.titulo %></td>
        <td><%= curso.carga_horaria %></td>
        <td><%= curso.vagas %></td>
        <td><%= curso.pre_requisitos %></td>
        <td><%= link_to 'Show', curso, class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_curso_path(curso), class:'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' },  class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar', new_curso_path, class:'btn btn-primary' %>
